* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


header h1 {
  font-size: 1.5rem;
  color: antiquewhite;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.home-button {
  margin-right: 1rem;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product-card h2 {
  font-size: 1.2rem;
  color: #333;
}

.product-card p {
  color: #555;
  font-size: 0.9rem;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #0056b3;
}

.cart {
  padding: 1rem;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item p {
  margin: 0;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1rem;
}
